/*hauteur max de la boîte de notes : 30%*/
.notebox{
   z-index: 9;
   opacity:1;
   position: fixed;
   left: 0px;
   bottom: 0px;
   margin-left: 0px;
   margin-right: 0px;
   padding:0;
   background-color: #fff;
   max-height:30%;
   overflow:auto;
}
/*Style de notebox quand on le fait apparaître*/
.plein {
  padding:14px 20px;
  border:2px solid black;  
}
/*pour ne pas montrer le "NOTES" en gras, on ajoute cette exception à la section h2*/
.notebox h2 {
  display:none;
}
/*Par défaut on ne fait apparaître aucune note de bas de page*/
div.notebox div {
   display:none;
}
div.notebox div.visible {
   display:block;
}
